<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <% if (success) { %>
    <div class="alert alert-success">
      <p><%= success %></p>
    </div>
  <% } %>
  <% if (error) { %>
    <div class="alert alert-danger">
      <p><%= error %></p>
    </div>
  <% } %>
  </div>
  <div class="col-md-4"></div>
</div>
