<% include header.ejs %>
<form class="well form-horizontal" method="post">
  <fieldset>
    <legend>用户登录</legend>
    <div class="form-group" style="padding-left:15px">
      <label class="control-label" for="name">用户名</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="name" name="name">
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <label class="control-label" for="password">密码</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">登录</button>
  </fieldset>
</form>
<% include footer.ejs %>
