<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <a class="brand" href="/">phping-nodejsBlog</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">首页</a></li>
          <% if (!user) { %>
            <li><a href="/login">登录</a></li>
            <li class="active"><a href="/reg">注册</a></li>
          <% } else { %>
		        <li><a href='javascript:;'>欢迎您,<%= user.name%></a></li>
            <li><a href="/logout">退出</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>用户注册</legend>
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username">
        <p class="help-block">你的帐号的名称，用于登录和显示</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="repassword">重复密码</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="input-xlarge" id="repassword" name="repassword">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="gender">性别</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <select class="form-control" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="exampleInputFile">头像</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="file" id="exampleInputFile" name= "avatar">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="introduction">简介</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <textarea class="form-control" rows="3" id="introduction" name="intro"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">注册</button>
    </div>
  </fieldset>
</form>
<% include footer.ejs %>
