<%- include('header') %>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>用户注册</legend>
    <div class="control-group">
      <label class="control-label" for="name">用户名</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="text" class="input-xlarge" id="name" name="name">
        <p class="help-block">你的帐号的名称，用于登录和显示</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="repassword">重复密码</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="input-xlarge" id="repassword" name="repassword">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="gender">性别</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <select class="form-control" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="exampleInputFile">头像</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="file" id="exampleInputFile" name= "avatar">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="introduction">简介</label>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <textarea class="form-control" rows="3" id="introduction" name="intro"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">注册</button>
    </div>
  </fieldset>
</form>
<% include footer.ejs %>
