<%- include('header') %>
<form class="well form-horizontal" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>用户注册</legend>
    <div class="form-group" style="padding-left:15px">
        <div style="float:left">
          <label class="control-label" for="name">用户名</label>
        </div>
        <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="form-control" class="form-control" id="name" name="name"
        style="width:20%;" placeholder="用户名">
        <p class="help-block">你的帐号的名称，用于登录和显示</p>
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <div style="float:left">
        <label class="control-label" for="password">密码</label>
      </div>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="form-control" id="password" name="password"
        style="width:20%;" placeholder="密码">
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <div style="float:left">
        <label class="control-label" for="repassword">重复密码</label>
      </div>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="password" class="form-control" id="repassword" name="repassword"
        style="width:20%;" placeholder="重复密码">
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <div style="float:left">
        <label class="control-label" for="gender">性别</label>
      </div>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <select class="form-control" name="gender" style="width:20%">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <div style="float:left">
        <label class="control-label" for="exampleInputFile">头像</label>
      </div>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <input type="file" id="exampleInputFile" name= "avatar">
      </div>
    </div>
    <div class="form-group" style="padding-left:15px">
      <div style="float:left">
        <label class="control-label" for="introduction">简介</label>
      </div>
      <p class="text-danger" style="color:red">*</p>
      <div class="controls">
        <textarea class="form-control" rows="3" id="introduction" name="intro"
          style="width:60%"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">注册</button>
  </fieldset>
</form>
<% include footer.ejs %>
